:root {
    --primary-color:hsl(31, 77%, 52%);
    --secondary-color:hsl(184, 100%, 22%);
    --tertiary-color:hsl(179, 100%, 13%);
    --neutral-color:hsla(0, 0%, 100%, 0.75);
    --neutral-color-dark:hsl(0, 0%, 95%);
}